<div class="vehicles-container">
    <busy-state *ngIf="loading"></busy-state>

    <div class="actions">
        <button class="btn btn-primary btn-xs" (click)="addCar()"><i class="fa fa-car" aria-hidden="true"></i>&nbsp;Add Car</button>
        <button class="btn btn-primary btn-xs" (click)="addCar()"><i class="fa fa-motorcycle" aria-hidden="true"></i>&nbsp;Add Motorcycle</button>
    </div>
    

    
    <ul class="vehicles-list">
        <li *ngFor="let vehicle of vehicles" (dblclick)="view(vehicle)">
            <div class="image-container">
                <img/>
            </div>
            <div class="image-right title"><a [routerLink]="['/vehicle/' + vehicle.id]">{{vehicle.name}}</a></div>
            <label class="image-right price">$ {{vehicle.price | number }}</label>
            <div class="image-right details">
                <div class="detail-item">
                    <i class="fa fa-tachometer" aria-hidden="true"></i><span class="detail-text">{{vehicle.odometer}}</span>
                </div>
                <div class="detail-item">
                    <i class="fa fa-cogs" aria-hidden="true"></i><span class="detail-text">{{vehicle.badge.engine}}</span>
                </div>
                <div class="detail-item">
                    <i class="fa fa-dot-circle-o" aria-hidden="true"></i><span class="detail-text">{{vehicle.badge.wheels}}</span>
                </div>
                <div class="detail-item">
                    <i class="fa fa-car" aria-hidden="true"></i><span class="detail-text">{{vehicle.badge.doors}}</span>
                </div>
            </div>
            <div class="image-right description">
                {{vehicle.description}}
            </div>
            <div class="vehicle-actions">
                <button (click)="edit(vehicle)" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></button>
            </div>
        </li>
    </ul>
   
    <pagination [totalCount]="totalCount" (pageChanged)="getVehicles()" [itemsPerPage]="itemsPerPage" [(page)]="page"></pagination>
</div>
