@import "../../../../../variables.scss";


.vehicles-container {
    .actions {
        margin-bottom: 10px;
    }

    ul.vehicles-list {
        list-style: none;
        -webkit-padding-start: 0;

        li {
            height: 160px;
            position: relative;
            padding: 5px;
            color: $font-color;

            .image-container {
                position: absolute;
                top: 5px;
                left: 5px;
                width: 285px;
                height: calc(100% - 10px);
                background-color: #000;
                opacity: 0.1;
            }

            .title {
                top: 5px;
                font-size: 18px;
                color: $font-blue-color;
            }

            .price {
                top: 30px;
            }

            .details {
                top: 50px;
                width: calc(100% - 310px);

                .detail-item {
                    width: 50%;
                    float: left;

                    i {
                        margin-right: 10px;
                    }
                }
            }

            .description {
                top: 90px;
                font-size: 10px;
            }

            .vehicle-actions {
                position: absolute;
                right: 5px;
                top: 5px;
            }

            .image-right {
                position: absolute;
                left: 310px;
            }
        }
    }
}


@media (max-width: 1024px) {
    .image-container{
        width:200px !important;
    }

    .image-right {
        left: 210px !important;
    }
}