<div class="vehicle-container">
    <busy-state *ngIf="loading"></busy-state>
    <div *ngIf="vehicle">
        <form name="vehicleEditForm" role="form" novalidate class="form-validation" >
            <div class="form">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="make">Make</label>
                            <div class="col-md-9">
                                <select class="form-control" [(ngModel)]="vehicle.badge.model.makeId" (ngModelChange)="loadModels(vehicle.badge.model.makeId)" name="make">
                                    <option *ngFor="let m of makes" [ngValue]="m.id"> {{m.name}} </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="model">Model</label>
                            <div class="col-md-9">
                                <select class="form-control" [(ngModel)]="vehicle.badge.modelId" (ngModelChange)="loadBadges(vehicle.badge.modelId)" name="model">
                                    <option *ngFor="let m of models" [ngValue]="m.id"> {{m.name}} </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="badge">Badge</label>
                            <div class="col-md-9">
                                <select class="form-control" [(ngModel)]="vehicle.badgeId" name="badge">
                                    <option *ngFor="let b of badges" [ngValue]="b.id"> {{b.name}} </option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="description">Description</label>
                            <div class="col-md-9">
                                <textarea class="form-control" name="description" [(ngModel)]="vehicle.description" required rows="6"></textarea>
                                <!--<ul class="list-unstyled">
                                    <li class="text-danger" *ngIf="vehicleEditForm.description.$error.required">Description is required</li>
                                    <li class="text-danger" *ngIf="vehicleEditForm.description.$error.maxlength">Description cannot go over 500 characters</li>
                                </ul>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="odometer">Odometer</label>
                            <div class="col-md-9">
                                <input class="form-control" type="number" step="1" min="0" name="odometer" [(ngModel)]="vehicle.odometer" required maxlength="6">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="price">Price</label>
                            <div class="col-md-9">
                                <input class="form-control" type="number" step="1" min="0" name="price" [(ngModel)]="vehicle.price" required maxlength="6">
                            </div>
                        </div>
                        <div class="form-group pull-right">
                            <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
                            <button type="submit" [buttonBusy]="loading" class="btn btn-primary blue margin-right-10" (click)="save()"><i class="fa fa-save"></i> <span>Save</span></button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
